In [39]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np

style.use('ggplot')

web_stats = {'Day':[1,2,3,4,5,6],
            'Visitors':[43,53,34,45,64,34],
            'Bounce_rate':[65,72,62,64,54,66]}
df = pd.DataFrame(web_stats)
df

   Day  Visitors  Bounce_rate
0    1        43           65
1    2        53           72
2    3        34           62
3    4        45           64
4    5        64           54
5    6        34           66

In [40]:
df.set_index("Day",inplace=True)

In [41]:
df

     Visitors  Bounce_rate
Day
1          43           65
2          53           72
3          34           62
4          45           64
5          64           54
6          34           66

In [42]:
df.Visitors

Day
1    43
2    53
3    34
4    45
5    64
6    34
Name: Visitors, dtype: int64

In [43]:
df[['Visitors', 'Bounce_rate']]

     Visitors  Bounce_rate
Day
1          43           65
2          53           72
3          34           62
4          45           64
5          64           54
6          34           66

In [63]:
df2 = pd.DataFrame(np.array(df[["Visitors", "Bounce_rate"]]))
df2

    0   1
0  43  65
1  53  72
2  34  62
3  45  64
4  64  54
5  34  66

In [64]:
np.array(df.Bounce_rate)

array([65, 72, 62, 64, 54, 66])