In [1]:
import quandl
import pandas as pd

In [3]:
df = quandl.get("FMAC/HPI_24420", authtoken="ixKi2AscQwRNdxrARR5q")

In [5]:
df.head()

            NSA Value   SA Value
Date
1975-01-31  24.358492  24.314941
1975-02-28  24.997934  24.935064
1975-03-31  25.610069  25.480950
1975-04-30  26.155962  25.949706
1975-05-31  26.638105  26.355619

In [6]:
state_df = pd.read_csv("state_abv.csv")

In [12]:
state = state_df['Postal Code'].to_list()

In [13]:
state

['AL',
 'AK',
 'AZ',
 'AR',
 'CA',
 'CO',
 'CT',
 'DE',
 'DC',
 'FL',
 'GA',
 'HI',
 'ID',
 'IL',
 'IN',
 'IA',
 'KS',
 'KY',
 'LA',
 'ME',
 'MD',
 'MA',
 'MI',
 'MN',
 'MS',
 'MO',
 'MT',
 'NE',
 'NV',
 'NH',
 'NJ',
 'NM',
 'NY',
 'NC',
 'ND',
 'OH',
 'OK',
 'OR',
 'PA',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VT',
 'VA',
 'WA',
 'WV',
 'WI',
 'WY']